{% extends 'petservice/base.html' %}

{% block titulo %} PetService | Servicios {% endblock %}

{% block cambios %}
<h1 style="margin: 50px; color: blue;"> Listado de servicios </h1>
<li style="margin-left: 30px"> Peluqueria canina </li>
<li style="margin-left: 30px"> Desparasitacion y vacunacion </li>
<li style="margin-left: 30px"> Chequeos paraclinicos:
    <ol>Sangre <br>
    ECG <br>
    Ecografia <br>
    Radiografia <br>
    Electrocardiografia <br>
    </ol>
</li>
<li style="margin-left: 30px"> Cirugias </li>
<li style="margin-left: 30px"> Venta de accesorios </li>
{% endblock %}